<%-include("partials/header");-%>


<div class='container mw-100 mh-100 mainDiv'>
            

    <a href="/projetos"><div class="itemblock"><h3>PROJETOS EM ANDAMENTO</h3></div></a>
    <!--<a href="/novoprojeto"><div class="itemblock"><h3>CADASTRO DE PROJETOS</h3></div></a>-->
    <!--<a href="/statusprojeto"><div class="itemblock"><h3>STATUS DO PROJETO</h3></div></a>-->
    <a href="/logout" class="a">Logout</a>

</div>

<%-include("partials/footer");-%>