<%-include("partials/header");-%>

<div class="container mw-100 mh-100 mainDiv">

    <div className="formlogin">
        <div class="formlogin">
            <form action="/" method="POST">
                
                <img class="logogeo" src="/img/LogoGEOatual.jpg" alt="">
                <input autocomplete="off" type="text" name="username" placeholder="Usuário">
                <input autocomplete="off" type="password" name="password" placeholder="Senha">

                <button autocomplete="off" type="submit">Login</button>
                <a class="a" href="/register">Registre-se</a>

            </form>
        </div>

</div>





<%-include("partials/footer");-%>