<%-include("partials/header");-%>


<div class='container mw-100 mh-100 mainDiv'>
            
    <a href="/updateall"><div class="itemblock"><h3>ATUALIZAR REGISTROS</h3></div></a>
    <a href="/deleteupdate"><div class="itemblock"><h3>DELETAR REGISTROS</h3></div></a>
    <a href="/userperm"><div class="itemblock"><h3>MODIFICAR PERMISSÕES</h3></div></a>
    <a href="/deleteuser"><div class="itemblock"><h3>EXCLUIR USUÁRIO</h3></div></a>
    <a href="/home_menu" class="a">Voltar</a>

</div>

<%-include("partials/footer");-%>